.contents-left
  .contents-left__user
    koudai
    .contents-left__user__btn
      = fa_icon "edit"
      = fa_icon "gear"
  .contents-left__group 
    .contents-left__group__name
      ongaku-group
    .contents-left__group__message
      こんにちは